name: Build, Scan and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (without pushing yet)
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: angiediazz/sistemasoperativos-parcial2-gi-api:latest,angiediazz/sistemasoperativos-parcial2-gi-api:${{ github.sha }}

      - name: Scan image for vulnerabilities with Trivy
        uses: aquasecurity/trivy-action@v0.33.0
        with:
          image-ref: angiediazz/sistemasoperativos-parcial2-gi-api:latest
          format: table
          exit-code: 1
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

      - name: Push Docker image
        if: success()
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: angiediazz/sistemasoperativos-parcial2-gi-api:latest,angiediazz/sistemasoperativos-parcial2-gi-api:${{ github.sha }}
